.paragraph--brands-title {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
  color: #363636;
  text-shadow: 1px 2px 0px #f586d2;
}

.headingLevel1--teto {
  text-align: center;
  font-size: 2rem;
}

.container--text-about {
  background-color: rgba(228, 228, 228, 0.8);
}

.paragraph--text-about {
  font-size: 1.8rem;
  text-align: center;
}

.headingLevel1--text-about {
  text-align: center;
}