.newsletter .container {
  padding: 20px 20px;
  text-shadow: 1px 2px 0px #f600a8;
}

@media screen and (max-width: 600px) {
  .newsletter .container :global(.vtex-store-components-3-x-label) {
    font-size: 1.2rem;
  }
}

.infoCardContainer {
  padding: 1.5em;
  border-bottom: 0em;
}
.infoCardContainer--aboutUs {
  background-size: contain !important;
}

.infoCardHeadline {
  color: rgba(109, 106, 106, 0.7);
  text-shadow: 1px 2px 0px #dad9da;
  display: inline;
  padding: 0.5rem;
}

.infoCardHeadline--home {
  background: rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #fff;
  display: inline;
  padding: 0.5rem;
}

.searchBarContainer {
  padding-top: 1.5rem;
  width: 35rem;
}

.shareContainer {
  text-align: center;
  margin-top: 0.8rem;
}

.shareButtons {
  justify-content: center;
}

.shareSocialButton {
  margin-left: 1rem;
  margin-right: 1rem;
}

.infoCardImage--about {
  border-radius: 60%;
}

:global(.vtex-rich-text-0-x-headingLevel1--text-about) {
  text-align: center;
}

.infoCardSubhead--about {
  font-size: 1.3rem;
}

:global(.vtex-rich-text-0-x-paragraph--text-about) {
  font-size: 1.8rem;
  text-align: center;
}

@media screen and (min-width: 80em) {
  .infoCardImageContainer--about {
    width: 35%;
  }

  .infoCardSubhead--about {
    font-size: 1.5rem;
  }
}

:global(.vtex-flex-layout-0-x-flexRow--sobreNos) {
  background-color: rgba(228, 228, 228, 0.8);
}

:global(.vtex-store-components-3-x-infoCardTextContainer--about) {
  background-color: rgba(228, 228, 228, 0.5);
  border: 5px ridge gray;
  width: 60%;
}

.infoCardHeadline--about {
  width: 100%;
}
