.title {
  padding-top: 1.2rem;
  padding-bottom: 0.2rem;
  font-weight: 600;
  font-size: 1.8rem;
  color: #363636;
  text-shadow: 1px 2px 0px #f586d2;
}
.container {
  padding-bottom: 3rem;
}
.slide {
  padding-left: 0.5rem;
}

:global(.vtex-product-summary-2-x-brandName) {
  font-size: x-large;
}

:global(.vtex-store-components-3-x-container)
  :global(.vtex-flex-layout-0-x-flexRowContent) {
  justify-content: center;
}

:global(.vtex-product-price-1-x-installments--summary) {
  margin-bottom: 0.5rem;
}
