.flexColChild--quickviewDetails {
  padding-right: 1em;
}
.flexRowContent--price {
  justify-content: left !important;
}

.flexRowContent--details {
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}

.flexRow--wishListTitle {
  background-color:rgba(237, 64, 194, 0.31);
  margin-bottom: 0.5rem;
  text-shadow: 1px 2px 0px white;
}

@media screen and (max-width: 600px) {
  .flexCol--productMain {
    margin-right: 0;
  }
  
.flexColChild--productMain {
    display: flex;
    justify-content: center;
  }
}

.flexRow--teto {
  background-color: rgba(45, 158, 255, 0.41);
}

.flexRowContent--header {
  background-color: #1c1c1c;
  transition: ease-in-out 0.85s;
} 

.flexColChild--filterCol {
  padding-left: 5px;
  margin-left: 5px;
}

.flexRowContent {
  justify-content: center;
}

.flexRow--footerMobile {
  margin-left: 1.3rem;
}