.title {
  padding-top: 4rem;
  padding-bottom: 0rem;
}
.container {
  padding-bottom: 3rem;
}
.slide {
  padding-left: 0.5rem;
}

:global(.vtex-product-summary-2-x-brandName) {
  font-size: x-large;
}

:global(.vtex-flex-layout-0-x-flexRowContent) {
  justify-content: center;
}

:global(.vtex-product-price-1-x-installments--summary) {
  margin-bottom: 0.5rem;
}