.flexColChild--quickviewDetails {
  padding-right: 1em;
}
.flexRowContent--price {
  justify-content: left !important;
}

.flexRowContent--details {
  padding-top: 0.3em;
  padding-bottom: 0.5em;
}

.flexRow--wishListTitle {
  background-color:rgba(237, 64, 194, 0.31);
  margin-bottom: 0.5rem;
  text-shadow: 1px 2px 0px white;
}

@media screen and (max-width: 600px) {
  .flexCol--productMain {
    margin-right: 0;
  }
}