:global(.vtex-flex-layout-0-x-flexRow--main-header),
:global(.vtex-store-header-2-x-headerRowContainer--main-header-mobile) {
    background-color: #1C1C1C;
}

:global(.vtex-store-drawer-0-x-drawerContent) {
    overflow-y: visible;
} 

:global(.vtex-flex-layout-0-x-flexRow--main-header) {
    margin-bottom: 0.8rem;
}

:global(.vtex-store-drawer-0-x-opened) {
    background-color: rgba(28, 28, 28, 0.95);
}

:global(.vtex-menu-2-x-submenuWrapper--isOpen) {
    background-color: rgba(28, 28, 28, 0.8);
    padding-top: 1.5rem;
}